<div class="container">
    <h2 class="mt-4">vorhandene Ordner</h2>
    <div class="folder-list">
  
     
        <ul class="list-group">
          @for (folder of folders(); track folder.id)
          {
            <div class="form-check">
              <input class="form-check-input" 
              type="checkbox" 
              [value]="folder.name"
              id="flexCheckDefault_{{folder.id}}"
              (change)="onCheckboxChange($event, folder.name)">
                <li class="list-group-item">
                  <i class="fas fa-folder"> {{folder.name}}</i>
                </li>
            </div>
          }
        </ul>
        <button class="btn btn-success" (click)="saveSelectedFolders()">Speichern</button>
    </div>
  </div>