<div class="container mt-5 mx-auto">
    <div class="card">
      <div class="card-header bg-primary text-white">
        <h5 class="card-title">Upload ZIP File <i class="bi bi-upload"></i>
        </h5>
      </div>
      <div class="card-body">
        <form (submit)="onSubmit($event)">
          <div class="mb-3">
            <label for="zipUpload" class="form-label">Choose a ZIP file:</label>
            <input type="file" class="form-control" id="zipUpload" 
            name="zipUpload" (change)="onFileSelected($event)" accept=".zip">
          </div>
          <button type="submit" class="btn btn-success">Upload</button>
          @if (successMsg() !== undefined) {
            <i class="text-success">{{successMsg()}} <i class="bi bi-check-all"></i></i>
          }
        </form>
      </div>
    </div>
  </div>
