<div class="container">
  <div class="row">
      <h2>IP-Suche</h2>
      <div class="col">
          <input type="text" [formControl]="ipCtrl" 
          mat-raised-button matTooltipPosition="after" matTooltip="Pattern: [A-Za-z-0-9]+$"
          class="form-control m-3" id="ip" placeholder="Schlagwortsuche">
      </div>
      <div class="col text-end">
          <button class="btn btn-primary" (click)="filterService.submitFilter(ipCtrl)" type="submit" 
          [disabled]="!filterService.enableBtn(ipCtrl)">Submit</button>
      </div>
      @if (ipCtrl.invalid && ipCtrl.dirty) {
          <div>
              Invalid INPUT
          </div>
      }
  </div>
</div>
