<div class="container">
    <div class="row">
        <h3>SAP-Id-Suche</h3>
        <div class="col">
            <input type="text" [formControl]="sapIdCtrl" 
            mat-raised-button matTooltipPosition="after" matTooltip="Pattern: 999[0-9A-Za-z]{3}999_[0-9A-Za-z]{2}_[0-9A-Za-z-_]+ "
            class="form-control m-3" id="sapId" placeholder="SapId">
        </div>
        <div class="col text-end">
            <button class="btn btn-primary" (click)="filterService.submitFilter(sapIdCtrl)" type="submit" 
            [disabled]="!filterService.enableBtn(sapIdCtrl)">Submit</button>
        </div>
        @if (sapIdCtrl.invalid &&sapIdCtrl.dirty) {
            <div>
                Invalid INPUT
            </div>
        }
    </div>
</div>
