<div class="container">
    <div class="row">
        <h3>DocId-Suche</h3>
        <div class="col">
            <input type="text" [formControl]="DocIdCtrl" 
            mat-raised-button matTooltipPosition="after" matTooltip="Pattern: [0-9A-Za-z-+]*"
            class="form-control flex-grow m-3" id="DocId" placeholder="DocId">
        </div>
        <div class="col text-end">
            <button class="btn btn-primary" type="submit" (click)="filterService.submitFilter(DocIdCtrl)"[disabled]="!filterService.enableBtn(DocIdCtrl)">
                Submit
            </button>
        </div>
    </div>
    @if(DocIdCtrl.invalid && DocIdCtrl.dirty){
    <div>
        invalid input. Please enter only letters and numbers
    </div>
}
</div>